﻿<div class="row">
    <div class="col-md-6 offset-3 alert alert-success align-middle text-center">
        <img src="~/images/303732192285211 (1).png" style="height:100px; width:100px; object-fit:cover" />
        <h2>Account was created successfully</h2>
        <p>You can now log in to your account using your credentials.</p>
        <hr />
        <p>Thank you!</p>
        <a class="btn btn-outline-success" asp-controller="Account" asp-action="Login" style="margin-left:130px">Login</a>
        <a class="btn btn-outline-info" asp-controller="Home" asp-action="Index" style="margin-left:140px">Home</a>
    </div>
</div>