@model HeartDiseasePrediction.ViewModel.ForgetPasswordViewModel

@{
    ViewData["Title"] = "Forget Password Page";
}

<div class="content">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-5 contents" style="padding-top:30px;padding-bottom:30px; margin-left:70px;">
                <div class="row ">
                    <div class="card card-body col-md-10 offset-0">
                        <form asp-action="ForgetPassword" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group first">
                                <i class="fa fa-envelope "></i> <label asp-for="@Model.Email"></label>
                                <input asp-for="@Model.Email" type="text" class="form-control" id="Email" placeholder="Enter Your Email">
                                <span asp-validation-for="@Model.Email" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn text-white btn-block btn-info">Reset Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}