@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
  @*  <h1>@ViewBag.Title.</h1>*@
    <h1>Forget Password Confirmation.</h1>
</hgroup>
<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>