@{
    ViewData["Title"] = "Home Page";
}
<!-- slider section -->
<section class="slider_section">
    @*<div class="dot_design">
        <img src="~/images/dots.png" alt="">
    </div>*@
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container ">
                    <div class="row" style="margin-left:20px">
                        <div class="col-md-6">
                            <div class="detail-box">
                                <div class="play_btn">
                                    <button>
                                        <i class="fa fa-play" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <h1>
                                    Heart <span>Health</span>
                                
                                </h1>
                                <p>
                                    Our system helps you keep your heart healthy and predict any diseases that 
                                    could affect it early, Let's start this journey for a healthier heart!
                                </p>
                                <a asp-controller="MedicalTests" asp-action="GetMedicalTests">
                                    Prediction
                                </a>
                               @* <a href="https://heart-project-1.onrender.com/">
                                    Prediction
                                </a>*@
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="img-box">
                                <img src="~/images/BlueDoctors-grouphealth.jpg" alt="">
                               @* <img src="~/images/heart-disease-medical.jpg" alt="">*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container ">
                    <div class="row" style="margin-left:20px">
                        <div class="col-md-6">
                            <div class="detail-box">
                                <div class="play_btn">
                                    <button>
                                        <i class="fa fa-play" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <h1>
                                    Heart <span>Health</span>
                                </h1>
                                <p>
                                    Our system helps you keep your heart healthy and predict any diseases that could affect it early,
                                    Let's start this journey for a healthier heart!
                                </p>
                                <a asp-controller="MedicalTests" asp-action="GetMedicalTests">
                                    Prediction
                                </a>
                              @*  <a href="https://heart-project-1.onrender.com/">
                                    Prediction
                                </a>*@
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="img-box">
                              @*  <img src="~/images/physician1.png" alt="">*@
                                @*<img src="~/images/doctors1.jpg" alt="">*@
                                <img src="~/images/heart-stethoscope.jpg" alt="">
                                @*<img src="~/images/heart5.jpg" alt="">*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container ">
                    <div class="row" style="margin-left:20px">
                        <div class="col-md-6" >
                            <div class="detail-box">
                                <div class="play_btn">
                                    <button>
                                        <i class="fa fa-play" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <h1>
                                    Heart <span>Health</span>
                                   
                                </h1>
                                <p>
                                    Our system helps you keep your heart healthy and predict any diseases that could affect 
                                    it early, Let's start this journey for a healthier heart!
                                </p>
                                <a asp-controller="MedicalTests" asp-action="GetMedicalTests">
                                    Prediction
                                </a>
                               @* <a href="https://heart-project-1.onrender.com/">
                                    Prediction
                                </a>*@
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="img-box">
                               @* <img src="~/images/fff.jpg" alt="">*@
                             @*   <img src="~/images/stethoscopeheart-1024x640.jpg" alt="">*@
                                <img src="~/images/heart5.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     @*   <div class="carousel_btn-box">
            <a class="carousel-control-prev" href="#customCarousel1" role="button" data-slide="prev">
                <img src="~/images/prev.png" alt="">
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#customCarousel1" role="button" data-slide="next">
                <img src="~/images/next.png" alt="">
                <span class="sr-only">Next</span>
            </a>
        </div>*@
    </div>
</section>
<!-- end slider section -->

<!-- about section -->
<section class="about_section layout_padding">
    <div class="container  ">
        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                  @*  <img src="~/images/doctors1.jpg" alt="">*@
                    <img src="~/images/heart-disease-medical.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            About <span>Heart Health</span>
                        </h2>
                    </div>
                    <p>
                        has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors
                    </p>
                    <a asp-controller="Home" asp-action="AboutUs">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->
<!-- treatment section -->

@*<section class="treatment_section layout_padding">
    <div class="side_img">
        <!--<img src="~/images/treatment-side-img.jpg" alt="">-->
    </div>
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Hospital <span>Treatment</span>
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="box ">
                    <div class="img-box">
                        <img src="~/images/t1.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h4>
                            Nephrologist Care
                        </h4>
                        <p>
                            alteration in some form, by injected humour, or randomised words which don't look even slightly e sure there isn't anything
                        </p>
                        <a href="">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="box ">
                    <div class="img-box">
                        <img src="~/images/t2.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h4>
                            Eye Care
                        </h4>
                        <p>
                            alteration in some form, by injected humour, or randomised words which don't look even slightly e sure there isn't anything
                        </p>
                        <a href="">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="box ">
                    <div class="img-box">
                        <img src="~/images/t3.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h4>
                            Pediatrician Clinic
                        </h4>
                        <p>
                            alteration in some form, by injected humour, or randomised words which don't look even slightly e sure there isn't anything
                        </p>
                        <a href="">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="box ">
                    <div class="img-box">
                        <img src="~/images/t4.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h4>
                            Parental Care
                        </h4>
                        <p>
                            alteration in some form, by injected humour, or randomised words which don't look even slightly e sure there isn't anything
                        </p>
                        <a href="">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
<!-- end team section -->
<!-- client section -->
@*<section class="client_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                <span>Testimonial</span>
            </h2>
        </div>
    </div>
    <div class="container px-0">
        <div id="customCarousel2" class="carousel  carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="box">
                        <div class="client_info">
                            <div class="client_name">
                                <h5>
                                    Morijorch
                                </h5>
                                <h6>
                                    Default model text
                                </h6>
                            </div>
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                        </div>
                        <p>
                            editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Variouseditors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Variouseditors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="box">
                        <div class="client_info">
                            <div class="client_name">
                                <h5>
                                    Rochak
                                </h5>
                                <h6>
                                    Default model text
                                </h6>
                            </div>
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                        </div>
                        <p>
                            Variouseditors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Variouseditors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="box">
                        <div class="client_info">
                            <div class="client_name">
                                <h5>
                                    Brad Johns
                                </h5>
                                <h6>
                                    Default model text
                                </h6>
                            </div>
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                        </div>
                        <p>
                            Variouseditors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy, editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Variouseditors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel_btn-box">
                <a class="carousel-control-prev" href="#customCarousel2" role="button" data-slide="prev">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#customCarousel2" role="button" data-slide="next">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>*@
<!-- end client section -->
<!-- contact section -->
<section class="contact_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container">
            <h2>
                Get In Touch
            </h2>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="form_container">
                    <form action="">
                        <div>
                            <input type="text" placeholder="Full Name" required/>
                        </div>
                        <div>
                            <input type="email" placeholder="Email" required />
                        </div>
                        <div>
                            <input type="text" placeholder="Phone Number" required />
                        </div>
                        <div>
                            <input type="text" class="message-box" placeholder="Message" required />
                        </div>
                        <div class="btn_box">
                            <button>
                                SEND
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-5">
                <div class="img-box">
                    @*<img src="~/images/contact-img2.png" alt="">*@
                    <img src="~/images/online-cardiologist-service-concept_118813-15075.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end contact section -->