@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
﻿<div class="row">
    <div class="col-md-6 offset-3 alert alert-success align-middle text-center">
        <img src="~/images/303732192285211 (1).png" style="height:100px; width:100px; object-fit:cover" />
        <h2>Prescription was created successfully</h2>
        <hr />
        <p>Thank you!</p>
        <a class="btn btn-outline-info" asp-controller="Prescription" asp-action="Index">Ok</a>
    </div>
</div>