﻿<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger align-middle text-center">
        <img src="~/images/error.png" style="height:100px; width:100px; object-fit:cover" />
        <h2>Error!</h2>
        <hr />
        <p>Please, Select Time And Date Or Choose Time Not Selected before</p>
      @*  <a class="btn btn-outline-info" asp-controller="LabAppointment" asp-action="Index">Ok</a>*@
    </div>
</div>