@using Database.Entities;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	<title>Heart Prediction</title>
	
	<link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
	<link href="~/css/font-awesome.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha256-mLBIhmBvigTFWPSCtvdu6a76T+3Xyt+K571hupeFLg4=" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css">
    <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.min.css" />
	<link href="~/css/style.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css">*@
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.css">*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>

	@*<link href="~/css/Style3.css" rel="stylesheet" />*@
	<link href="~/css/responsive.css" rel="stylesheet" />
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        setTimeout(function(){
            $('.loader_bg').fadeToggle();
        },1500)
    </script>*@
    <script>
        window.onload=function(){
            document.getElementById('loader').style.display="none";
            document.getElementById('content').style.display = "block";
        }
    </script>
    <style>
    #content{
        display:none;
    }
    #loader{
        position:absolute;
        margin:auto;
        top:0;
        right:0;
        bottom:0;
        left:0;
        width:100px;
        height:100px;
            
        }
    #loader img{width:100px;}
    </style>
</head>
<body>
    <div class="loader_bg">
        <div class="loader"></div>
    </div>
    <div id="loader">
            <img src="https://cdn.dribbble.com/users/1787505/screenshots/7300251/media/a351d9e0236c03a539181b95faced9e0.gif" />
    </div>
    <div class="hero_area" id="content">
        <!-- header section strats -->
        <header class="header_section">
            <div class="header_top">
                <div class="container">
                    <div class="contact_nav">
                        <a href="">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                                Call : +20 103455678990
                            </span>
                        </a>
                        <a href="">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                                Email : Hospital.Heart@gmail.com
                            </span>
                        </a>
                       @* <a href="">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                                Location
                            </span>
                        </a>*@
                    </div>
                </div>
            </div>
            <div class="header_bottom">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg custom_nav-container ">
                        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                          @*  <img src="~/images//460bec2777fe7d4a4fec0dde54fdabde.png" alt="">*@
                            <img src="~/images/heart.jpg" alt="">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class=""> </span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <div class="d-flex mr-auto flex-column flex-lg-row align-items-center">
                                <ul class="navbar-nav ">
                                    <li class="nav-item active">
                                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Home" asp-action="AboutUs"> About</a>
                                    </li>
                                    @if (User.Identity.IsAuthenticated && SignInManager.IsSignedIn(User))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" asp-action="Update" asp-controller="Account"> Dashboard</a>
                                        </li>
                                    }
                                 @*   <li class="nav-item">
                                        <a class="nav-link" asp-controller="Lab" asp-action="GetAllLabs">Labs</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Doctor" asp-action="DoctorsList">Doctors</a>
                                    </li>*@
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="quote_btn-container">
                                <partial name="_identity.cshtml"></partial>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <!-- end header section -->

	    <div class="container">
		    <main role="main" class="pb-2">
			    @RenderBody()
		    </main>
	    </div>

        <!-- info section -->
        <section class="info_section ">
            <div class="container">
                <div class="info_top">
                    <div class="info_logo">
                        <a asp-controller="Home" asp-action="Index">
                            @*<img src="~/images//460bec2777fe7d4a4fec0dde54fdabde.png" alt="">*@
                            <img src="~/images/heart.jpg" alt="">
                        </a>
                    </div>
                    <div class="info_form">
                        <form action="">
                            <input type="email" placeholder="Your email">
                            <button>
                                Subscribe
                            </button>
                        </form>
                    </div>
                </div>
                <div class="info_bottom layout_padding2">
                    <div class="row info_main_row">
                        <div class="col-md-6 col-lg-3">
                            <h5>
                                Address
                            </h5>
                            <div class="info_contact">
                                <a href="">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    <span>
                                        Location
                                    </span>
                                </a>
                                <a href="">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <span>
                                        Call +01 103455678990
                                    </span>
                                </a>
                                <a href="">
                                    <i class="fa fa-envelope"></i>
                                    <span>
                                        Hospital.Heart@gmail.com
                                    </span>
                                </a>
                            </div>
                            <div class="social_box">
                                <a href="">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="info_links">
                                <h5>
                                    Useful link
                                </h5>
                                <div class="info_links_menu">
                                    <a class="active" asp-controller="Home" asp-action="Index">
                                        Home
                                    </a>
                                    <a asp-controller="Home" asp-action="AboutUs">
                                        About
                                    </a>
                                    <a href="treatment.html">
                                        Treatment
                                    </a>
                                    <a asp-controller="Doctor" asp-action="DoctorsList">
                                        Doctors
                                    </a>
                                    <a asp-controller="Lab" asp-action="GetAllLabs">
                                        Labs
                                    </a>
                                    <a asp-controller="Home" asp-action="ContactUs">
                                        Contact us
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="info_post">
                                <h5>
                                    LATEST POSTS
                                </h5>
                                <div class="post_box">
                                    @*<div class="img-box">
                                        <img src="~/images/post1.jpg" alt="">
                                    </div>*@
                                    <p>
                                        Normal
                                        distribution
                                    </p>
                                </div>
                                <div class="post_box">
                                    @*<div class="img-box">
                                        <img src="~/images/post2.jpg" alt="">
                                    </div>*@
                                    <p>
                                        Normal
                                        distribution
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="info_post">
                                <h5>
                                    News
                                </h5>
                                <div class="post_box">
                                    @*<div class="img-box">
                                        <img src="~/images/post3.jpg" alt="">
                                    </div>*@
                                    <p>
                                        Normal
                                        distribution
                                    </p>
                                </div>
                                <div class="post_box">
                                    @*<div class="img-box">
                                        <img src="~/images/post4.png" alt="">
                                    </div>*@
                                    <p>
                                        Normal
                                        distribution
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end info_section -->
        <!-- footer section -->
        <footer class="footer_section">
            <div class="container">
                <p>
                    &copy; <span id="displayYear"></span> Project Heart Disease Prediction
                </p>
            </div>
        </footer>
        <!-- footer section -->
        <script src="~/js/jquery-3.4.1.min.js"></script>
        <script src="~/js/bootstrap.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js" integrity="sha256-Zr3vByTlMGQhvMfgkQ5BtWRSKBGa2QlspKYJnkjZTmo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
        <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
        <script src="~/js/custom.js"></script>
        <script src="~/js/site.js"></script>
       @* <script src="~/js/custom2.js"></script>*@
        @await RenderSectionAsync("Scripts", required: false)
        @await Component.InvokeAsync("NToastNotify")
    </div>
</body>
</html>